*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.header{
    min-height: 100vh;
    background-image: url("../images/cover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
    color: white;
    padding-top: 0;
}
.menu__box{
background-color:#6c933e ;
position: fixed;
width: 36px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;
}
.menu{
    width:12px ;
}
.header__text{
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;

}
.title{
    font-size: 2rem;
    font-weight: 700;
}
.title__small{
    font-size: 1rem;
    text-align: center;
}
.arrow{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop{
    margin-top: 30px;
    margin-inline: 20px;
    list-style-type: none;
}
.shop__text{
    color: #6c933e;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.shop__title{
    font-size: 22px;
    margin-block: 10px;
}
.shop__article{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
}
.box__buy{
    width: 160px;
    height: 45px;
    border: solid 2px  #6c933e;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 28px;

}
.clic__buy{
    color: #6c933e;
    text-decoration: none;
}
.container{
    background-color: #d9e4cc;
    text-align: center;
.container__text{
        text-align: center;
        padding-top: 20px;
    }
    .container__title{
        text-align: center;
    }
}
.box__images{
    
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: repeat(3,200px);
    padding: 20px;
}
.image{
    width: 124px;
    object-fit: contain;
}
.container__botton{
    width: 185px;
    height: 50px;
    background-color:#6c933e ;
    border: solid 2px #6c933e;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
.botton__box{
    display: flex;
    justify-content: center;
}
    
}
.link__start{
    text-decoration: none;
    color: white;
}